<h1>Home</h1>
<% (1..6).each do |num| %>
  <%= link_to "Team #{num}", play_path(teamid: num) %><br \>
<% end %>
<%= link_to "Admin page", admin_path %><br />
<%= link_to "source code", "https://www.github.com/TheNetyx/thing-for-penta"
