<% @conflicts.each do |c| %>
  <table>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th></th>
    </tr>

    <% c[:combatants].each do |com| %>
      <tr>
        <td><%=com.name%></td>
        <td><%=com.team%></td>
        <td><%= form_with url: kill_player_path(com.id), method: :post do |f| f.submit "KILL" end %></td>
      </tr>
    <% end %>
  </table>
<% end %>